# venv stuff
bin/
lib/
pyvenv.cfg

# python stuff
__pycache__
sudns01.egg-info

# editor stuff
~*
*.swp

# test stuff
.coverage
.installed-editable
.installed-test-editable
.test-pre

# Certbot data
le
